<!--


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Gestion Etudiants</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Ajouter Etudiant <span class="sr-only">
            (current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." 
         required>
     </form>
  </div>
</nav>
<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let etudiant of etudiants" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6">
              <a href=""><img src="{{etudiant?.imageURL}}" alt="" class="img-fluid rounded-circle w-60"></a>
           </div>
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{etudiant?.nom}} {{etudiant?.prenom}}</h5>
              <p class="m-0">{{etudiant?.dateNaissance}}</p>
           </div>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{etudiant?.adresse}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>Téléphone : {{etudiant?.numTel}}</li>
        </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">

           </div>
        </div>
     </div>
  </div>
</div>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" style="color:white;">Gestion Etudiants</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'add')">Ajouter Etudiant <span class="sr-only">(current)</span></a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchEtudiants(key.value)" #key="ngModel" ngModel
          name="key" id="searchName" class="form-control mr-sm-2" placeholder="Rechercher étudiants..." required>
      </form>
   </div>
 </nav>
 <div class="container" id="main-container">
 <div class="row">
   <div *ngFor="let etudiant of etudiants" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
         <div class="card-body row">
            <div class="col-6">
               <a href=""><img src="{{etudiant?.imageURL}}" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
            <div class="col-6 card-title align-self-center mb-0">
               <h5>{{etudiant?.nom}} {{etudiant?.prenom}}</h5>
               <p class="m-0">{{etudiant?.dateNaissance}}</p>
            </div>
         </div>
         <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{etudiant?.adresse}}</li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>Téléphone : {{etudiant?.numTel}}</li>
         </ul>
         <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
               <a (click)="onOpenModal(etudiant, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
               <a (click)="onOpenModal(etudiant, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
         </div>
      </div>
   </div>
 </div>
 
 <!-- Add Employee Modal -->
 <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="addEmployeeModalLabel">Ajouter Etudiant</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #addForm="ngForm" (ngSubmit)="addEtudiant(addForm)">
           <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="Nom" required>
           </div>
           <div class="form-group">
               <label for="prenom">Prenom</label>
               <input type="text" ngModel name="prenom" class="form-control" id="prenom" placeholder="Prénom" required>
            </div>
           <div class="form-group">
              <label for="adresse">Adresse</label>
              <input type="text" ngModel name="adresse" class="form-control" id="adresse" placeholder="Adresse" required>
           </div>
           <div class="form-group">
              <label for="dateNaissance">Date de naissance</label>
              <input type="date" ngModel name="dateNaissance" class="form-control" id="dateNaissance" placeholder="Date de naissance" required>
           </div>
           <div class="form-group">
              <label for="numTel">N° Téléphone</label>
              <input type="phone" ngModel name="numTel" class="form-control" id="numTel" placeholder="N° Téléphone" required>
           </div>
           <div class="form-group">
              <label for="imageURL">Image URL</label>
              <input type="text" ngModel name="imageURL" class="form-control" id="imageURL" placeholder="Image URL" required>
           </div>
           <div class="modal-footer">
              <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Sauvegarder</button>
           </div>
           </form>
        </div>
     </div>
   </div>
   </div>
 
 <!-- Edit Modal -->
 <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateEmployeeModalLabel">Modifier l'étudiant {{editedEtudiant?.nom}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="nom">Nom</label>
                  <input type="text" ngModel="{{editedEtudiant?.nom}}" name="nom" class="form-control" id="nom" aria-describedby="nameHelp" placeholder="Nom">
               </div>
               <div class="form-group">
                  <label for="prenom">Prénom</label>
                  <input type="text" ngModel="{{editedEtudiant?.prenom}}" name="prenom" class="form-control" id="prenom" aria-describedby="emailHelp" placeholder="Prénom">
               </div>
               <input type="hidden" ngModel="{{editedEtudiant?.id}}" name="id" class="form-control" id="id" placeholder="id">
               <input type="hidden" ngModel="{{editedEtudiant?.code}}" name="userCode" class="form-control" id="userCode" placeholder="code">
               <div class="form-group">
                  <label for="adresse">Adresse</label>
                  <input type="text" ngModel="{{editedEtudiant?.adresse}}" name="adresse" class="form-control" id="adresse" placeholder="Adresse">
               </div>
               <div class="form-group">
                  <label for="dateNaissance">Date de naissance</label>
                  <input type="date" ngModel="{{editedEtudiant?.dateNaissance}}" name="dateNaissance" class="form-control" id="dateNaissance" placeholder="Date de naissance">
               </div>
               <div class="form-group">
                  <label for="numTel">N° Téléphone</label>
                  <input type="text" ngModel="{{editedEtudiant?.numTel}}" name="numTel" class="form-control" id="numTel" name="N° Téléphone" placeholder="Phone">
               </div>
               <div class="form-group">
                  <label for="imageURL">Image URL</label>
                  <input type="text" ngModel="{{editedEtudiant?.imageURL}}" name="imageURL" class="form-control" id="imageURL" placeholder="Image URL">
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Fermer</button>
                  <button (click)="updateEtudiant(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Sauvegarder</button>
               </div>
            </form>
         </div>
      </div>
   </div>
 </div>
 
 <!-- Delete Modal -->
 <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Supprimer étudiant</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Est ce que vous êtes sure de supprimer l'étudiant {{deletedEtudiant?.nom}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
               <button (click)="deleteEtudiant(deletedEtudiant.id)" class="btn btn-danger" data-dismiss="modal">Oui</button>
            </div>
         </div>
      </div>
   </div>
 </div>
 </div>
 
 <!-- Notification for no employees -->
 <div *ngIf="etudiants?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
 <div class="alert alert-info" role="alert">
   <h4 class="alert-heading">Pas d'étudiants!</h4>
   <p>Il n'y a pas d'étudiants.</p>
 </div>
 </div>
